{:duct.profile/base
 {:duct.core/project-ns todo

  :duct.router/ataraxy
  {:routes {["/articles"]
            {[:get] [:articles/index]}}

   :handlers {:articles/index #ig/ref :todo.handler.articles/index}}

  :todo.handler.articles/index
  {:db #ig/ref :duct.database/sql}

  :duct.migrator/ragtime
  {:migrations [#ig/ref :todo.migration/create-articles]}

  [:duct.migrator.ragtime/sql :todo.migration/create-articles]
  {:up   ["CREATE TABLE articles (id serial NOT NULL PRIMARY KEY,
                                  content text NOT NULL)"]
   :down ["DROP TABLE articles"]}}

 :duct.profile/env_test #duct/include "env_test"
 :duct.profile/dev      #duct/include "dev"
 :duct.profile/local    #duct/include "local"
 :duct.profile/prod     {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql     {}}
